@page
@model QLNT.Pages_NguoiThue.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>NguoiThue</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="NguoiThue.HoTen" class="control-label"></label>
                <input asp-for="NguoiThue.HoTen" class="form-control" aria-required="true"/>
                <span asp-validation-for="NguoiThue.HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiThue.SoDienThoai" class="control-label"></label>
                <input asp-for="NguoiThue.SoDienThoai" class="form-control" />
                <span asp-validation-for="NguoiThue.SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiThue.Email" class="control-label"></label>
                <input asp-for="NguoiThue.Email" class="form-control" />
                <span asp-validation-for="NguoiThue.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiThue.CCCD" class="control-label"></label>
                <input asp-for="NguoiThue.CCCD" class="form-control" />
                <span asp-validation-for="NguoiThue.CCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiThue.NgaySinh" class="control-label"></label>
                <input asp-for="NguoiThue.NgaySinh" class="form-control" />
                <span asp-validation-for="NguoiThue.NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiThue.DiaChi" class="control-label"></label>
                <input asp-for="NguoiThue.DiaChi" class="form-control" />
                <span asp-validation-for="NguoiThue.DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
